video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#myVideo {
    height: 15vh;
    border-radius: 50%;
    position: absolute;
    bottom: 15vh;
    right: 60%;
    border: 0.5px solid;
}

#clientVideo {
    width: 100%;
    z-index: -100;
}

.clientWaiting {
    text-align: center;
    width: 100%;
}

.waitingGraphic {
    width: 50%;
}

.infoDiv {
    padding-top: 9%;
    height: 15vh;
    text-align: center;
    background-color: rgb(194, 193, 193);;
}

.waitingPrompt {
    margin-top: 4vh;
    color: #676767;
}

.callControlButton {
    position: fixed;
    top: 16vh;
    left: 2.5vw;
    border-radius: 50%;
    z-index: 10;
}

.callControlButton:hover {
    transform: scale(1.05);
}

.callControlImage {
    color: #FFFFFF;
    height: "6vh";
    width: auto;
    max-height: 5vh;
    padding: 0.5vh;
}