video {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#myVideo {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    position: absolute;
    bottom: 15vh;
    right: 60%;
    border: 0.5px solid;
    overflow: hidden;
}

#clientVideo {
    width: 100%;
    height: 100%;
    z-index: -100;
}

.clientWaiting {
    text-align: center;
    width: 100%;
}

.waitingGraphic {
    width: 50%;
}

.infoDiv {
    padding-top: 9%;
    height: 15vh;
    text-align: center;
    background-color: rgb(194, 193, 193);;
}

.waitingPrompt {
    margin-top: 4vh;
    color: #676767;
}

.callControlButton {
    position: fixed;
    top: 18vh;
    left: 5vw;
    border-radius: 50%;
    z-index: 10;
}

.callControlButton:hover {
    transform: scale(1.05);
}

.callControlImage {
    color: #FFFFFF;
    height: "6vh";
    width: auto;
    max-height: 6vh;
    padding: 0.5vh;
}

div[disabled]
{
  pointer-events: none;
  opacity: 0.35;
}

.ccIconButton {
    position: fixed;
    top: 18vh;
    left: 15vw;
    border-radius: 50%;
    z-index: 10;
}

.ccIconButton:hover {
    transform: scale(1.05);
}

.ccIconImage {
    color: #FFFFFF;
    height: "6vh";
    width: auto;
    max-height: 6vh;
    padding: 0.5vh;
}

.callControlLoading {
    position: fixed;
    top: 18vh;
    left: 5vw;
    border-radius: 50%;
    z-index: 10;
}

.regionControlButton:hover {
    transform: scale(1.05);
}

.regionControlButton {
    position: fixed;
    top: 18vh;
    left: 10vw;
    border-radius: 50%;
    z-index: 10;
}

.regionControlImage {
    color: #FFFFFF;
    height: "6vh";
    width: auto;
    max-height: 6vh;
    padding: 0.5vh;
}

@keyframes waitingPulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(92,171,180,0.7);
	}

	70% {
		transform: scale(1.1);
		box-shadow: 0 0 0 10px rgba(92,171,180,0.7);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(92,171,180,0.7);
	}
}

@keyframes loadingPulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(192, 39, 39, 0.7);
	}

	70% {
		transform: scale(1.1);
		box-shadow: 0 0 0 10px rgba(192, 39, 39, 0.7);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(192, 39, 39, 0.7);
	}
}