body {
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.left {
    padding-top: 10%;
    vertical-align: middle;
    display: table-cell;
    float: left;
    width: 50%;
    height: 100%;
}

.right {
    float: left;
    width: 50%;
    height: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
}

.homeImage {
    display: block;
    margin: 0 auto;
}

.centerContent {
    color: black;
    margin-top: 5vh;
    text-align: center;
}

.homeButton {
    color: #5CABB4;
    background-color: #FFFFFF;
    border-color: #5CABB4;
}

.homeButton:hover {
    transform: scale(1.025);
    color: #FFFFFF;
    background-color: #5CABB4;
    border-color: #FFFFFF;
}

.homeButton:active {
    color: #FFFFFF !important;
    background-color: #5CABB4 !important;
    border-color: #FFFFFF !important;
}

.centerSubtext {
    color: #5CABB4;
    position: fixed;
    bottom: 0;
    margin-left: 1vw;
    font-size: 0.8rem;
}

.signUpContent {
    padding-left: 8vw;
    padding-right: 8vw;
}

.dropdown a {
    color: #5CABB4 !important;
}

.dropdown-item:hover, .dropdown-item:active {
    background-color: #5CABB4 !important;
}

.caret {
    display: none;
}