.matchesTableWrapper {
    background-color: #f8f9fa;
    text-align: center;
    height: 100vh;
}

.matchesTable {
    height: 80vh;
    overflow: scroll;
}

.matchCell {
    padding-top: 0.5vh;
    cursor: pointer
}

.matchCell:hover {
    transform: scale(1.05);
}

.matchProfilePicture {
    float: left;
    margin-left: 2vw;
    height: 5vh;
    width: auto;
    border-radius: 50%;
}

.matchContent {
    float: left;
    margin-left: 1vw;
    text-align: left;
}

.matchTitle {
    padding-top: 4vh;
    color: #676767;
    margin-bottom: 4vh;
}

.matchName {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.matchUniversity {
    margin-top: 0.1vh;
    color: #676767;
}

.cellLine {
    color: #676767;
    margin-top: 0;
}